body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
}

header {
  background-color: #D4E6F1;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  background-color: #f2f2f2;
}


section {
  padding: 20px;
  
square-list {
  list-style-type: square;
}

 .banner {
      position: relative;
      width: 100%;
      height: 300px; 
      overflow: hidden;
    }
  
  .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .banner .banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
   }     
