body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 20px;
}

header {
  color: #A3E4D7 ;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul {
  list-style-type: square;
  margin: 10px;
  padding: 20px;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: overline;
  color: #D2B4DE;
}

.banner img {
  width: 100%;
  height: auto;
}

.p {
  background-color:#EAFAF1;
  text-align: center;
  padding: 50px;
}


.square-list {
  list-style-type: square;
}

footer {
  background-color: #FCF3CF;
  color: #F5CBA7;
  padding: 20px;
  text-align: center;
}
