body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
}

header {
  background-color: #D4E6F1;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  background-color: #f2f2f2;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

square-list {
  list-style-type: square;
}

section {
  padding: 20px;
}

 .banner {
      position: relative;
      width: 100%;
      height: 300px; /* Adjust the height as needed */
      overflow: hidden;
    }

    .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .banner .banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
